.right {
	display: inline-block;

}

.wrapper {
	width: 50px;
	overflow: hidden;
	margin: auto;
}

.thumbs {
	width: 650px;
	margin: auto;
	background-color: #fff;	
}

.thumbs ul li {
	clear: both;
	padding: 20px 20px 20px 20px;
	display: inline;
}

ul li {
	list-style-type: none;
	
}



