.right {
	display: inline-block;
	margin: auto;

}

.wrapper {
	width: 50px;
	overflow: hidden;
	display: inline-block;
}

.wrapper ul li img {
    width: 450px;
    height: 450px;
}

.thumbs {
	width: 750px;
	background-color: #fff;	
}

.thumbs ul li {
	clear: both;
	padding: 20px 20px 20px 20px;
	display: inline;
}

.thumbs ul li img {
    width: 150px;
    height: 150px;
}


li img {
	padding: 10px 10px;
}

ul li {
	list-style-type: none;
	
}

ul {
	padding: 0px;
}


/* ------------media query ----------*/

@media (max-width: 900px) and (min-width: 600px) {
      .wrapper {
      	width: 80%;
      	height: 80%;
      	background-color: green;
	      
    }
      
      .thumbs ul li img {
		width: 30%;
		height: 30%;
   	}	
      
	      
      }
      


@media (max-width: 600px) {
	.wrapper {
		background-color: yellow;
		width: 60%;
		height: 60%;
	}
	
	.wrapper ul li img{
		clear: both;
		width: 60%;
		height: 60%;

	}
	
	.thumbs {
		width: 95%;
	}
	

	
}