html,body {
width:100%;
}

.gallery {
	position: absolute;
	top:0px;
	left:0px;
	z-index: 1;
	width: 100%;
}

.detail {
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 0;
	
}

img {
	width: 100%;
}

